
<h3><%= @product.name %></h3>
<p>Description: <%= @product.description %></p>
<p>Price: <%= @product.formatted_price %>$</p>
<%= link_to "Edit", "/products/#{@product.id}/edit", class: "waves-effect waves-light btn" %>

<h5>Reviews for <%= @product.name %></h5>
<div class="reviews">
  <% if @product.reviews.persisted.any? %>
    <%= render :partial => 'review', collection: @reviews %>
  <% else %>
    <p>Be the first to review this product!</p>
  <% end %>
</div>
<%= render 'new_review', :locals => {:review => @review}%>


<%= link_to "Back", "/products", class: "waves-effect waves-light btn"  %>
