<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/products" class="brand-logo">RainForest</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/products/new">Add a New Product</a></li>
          <li><% if current_user %>
            Signed in as <%= current_user.name %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
          <% else %>
            <%= link_to "Log in", new_session_path, class: "waves-effect waves-light btn" %> <%= link_to "Sign up", new_user_path, class: "waves-effect waves-light btn" %>
          <% end %></li>
          <li><a href=""></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/products/new">Add a New Product</a></li>
          <li><% if current_user %>
            <%= link_to "Log out", session_path("current"), :method => :delete, class: "waves-effect waves-light btn" %>
          <% else %>
            <%= link_to "Log in", new_session_path, class: "waves-effect waves-light btn" %> <%= link_to "Sign up", new_user_path, class: "waves-effect waves-light btn" %>
          <% end %></li>
          <li></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>

    <div class="container">
      <%= yield %>

      <p class="userinfo">

      </p>
    </div>
  </main>

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</body>
</html>
